<app-navbar></app-navbar>
<div class="movie-page" style="display: flex;">
    <mat-card class="movie-card" *ngFor="let movie of movies;" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title class="movie-card-title"><b>{{movie.title}}</b></mat-card-title>
        </mat-card-header>
        <img src={{movie.ImagePath}} width="300" alt= {{movie.title}} />
        <mat-card-actions>
            <button
                mat-stroked-button
                class="movie-button"
                color="info"
                (click)="openGenre(movie.genre.name, movie.genre.description)"
            >
                Genre
            </button>
            <button
                mat-stroked-button
                class="movie-button"
                color="info"
                (click)="openDirector(movie.director.name, movie.director.bio)"
            >
                Director
            </button>
            <button
                mat-stroked-button
                class="movie-button"
                color="info"
                (click)="openDescription(movie.title, movie.description)"
            >
                Description
            </button>
            <button 
                mat-button
                class="fav-button"
                color="danger"
                *ngIf="!isFav(movie._id)"
                (click)="addFavorite(movie._id)"
            >
            <mat-icon>favorite_border</mat-icon>
            </button>
            <button 
                mat-button
                class="fav-button"
                color="danger"
                *ngIf="isFav(movie._id)"
                (click)="deleteFavorite(movie._id)"
            >
            <mat-icon>favorite</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>